/*
  properties and examples: 
  ---------------------------------------
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 100px;
  grid-template-columns: repeat(4, 25%);

  grid-template-areas:
        "head head2 . side"
        "main main2 . side"
        "footer footer footer footer";

  grid-template-columns:
      1fr 1fr
      minmax(10px, 1fr) 3fr
      repeat(5, 1fr)
      50px auto 100px 1fr;
  

*/
.parent {
  height: 100vh;
  background: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  background-color: rgba(255,0,0,.7);
  grid-template-areas: 
  "header header header header" 
  "main main . sidebar"
  "footer footer footer footer"
  ;
}
.parent > div {
  /*width: 200px;
  height: 200px;*/
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(0,0,0,.2);
}
.child1 {
  grid-area: header;
  
}
.child2 {
  grid-area: main;
  
}
.child3 {
  grid-area: sidebar;
  
}
.child4 {
  grid-area: footer;
}